@mixin header-style($family, $color, $size) {
    font-family: $family;
    color: $color;
    font-size: $size;
}

@mixin section-padding {
    padding: 10vh 0;
    @media (min-width: 768px) {
        padding: 20vh 0;
    }
}