
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;&display=swap" rel="stylesheet"');


$primary-font: "Lora", serif;
$secondary-font: "Roboto", sans-serif;
$font-family-base: "Roboto", sans-serif;

body {
    font-family: $font-family-base;
}




