//@import './vendor/normalize';
//@import './partials/mixins';
//@import './partials/typography';
//@import './partials/colors';
//@import './partials/media-queries';

@import "../scss/functions";
@import "../scss/variables";
@import "../scss/mixins";

.home {

    img {
        width: 100%;
        height: auto;
    }
}

.covidStyle {
    background-color: yellow;
    color: black;
    padding: 10%;
    font-weight: bold;
}


.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    h2 {
        margin-bottom: 1.5rem;
    }

    p {
        padding: 0 10%;
        font-weight: 300;
    }
}


.food-gallery {
    display: grid;
    grid-template-rows: repeat(8, 5vw);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
    margin: 0 5%;

    .gallery-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery-item-1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery-item-2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 9;
    }

    .gallery-item-3 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 9;
    }
}

.findUs {
    text-align: center;
    margin-top: 2rem;

    .map {
        margin: 5%;
    }

    .bar {
        max-width: 100%;
        height: auto;
    }
}

.menu {
   //display: flex;
   //flex-direction: column;
   //flex-wrap: wrap;
   text-align: center;
   //margin-top: 1rem;
   //padding: 5% 10%;

   h2 {
      margin: 1rem; 
   }

   h3 {
       margin: 1rem 0;
   }

   hr {
       //border: 1px solid $secondary-color;
       height: 1px;
       //background: $secondary-color;
       margin: 35px 0 20px 0;
   }
}

.contact-wrapper {
    //height: 60vh;
    //max-width: 100%;
    text-align: center;
    margin: 2rem 0;

    h2 {
        margin-bottom: 1.5rem;
    }

    .fa {
        text-decoration: none;
        padding: 15x;
        font-size: 30px;
        width: 50px;
        margin: 5px 2px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-instagram, .fa-facebook {
        color: black;
    }
}

@import "../scss/bootstrap.scss";

