@import './vendor/normalize';
@import './partials/mixins';
@import './partials/typography';
@import './partials/colors';




.home {
    background-image: url("/assets/images/landing-bg.jpg");
    background-size: cover;
    max-width: 100%;
    height: 50vh;

    .logo-container {
        padding: 20px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        padding-top: 70px;
        text-transform: uppercase;
        color: $primary-color;
        font-size: 18px;
        font-family: $primary-font;
    }
}

.contact {
    height: 40vh;
    padding: 61px;
    text-align: center;

    h2 {
        margin: 0;
        color: $secondary-color;
    }

    p {
        color: $secondary-color;
        line-height: 1.5;
    }
}

.yuzu {
    width: 100%;
    height: auto;
}

.menu {
    height: 100vh;
    
    img {
        padding-top: 80px;
    }
}

.about {
    padding: 25px;
    background-image: url("/assets/images/about-img.jpg");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    text-align: center;

    h2 {
        padding-top: 90px;
    }

    .story {
        padding-top: 70px;
    }

}

@media (min-width: 1024px) {
    .logo-container {
        display: flex;
        justify-content: center;
    }

}